@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #00598a;
  /* background-image: url("../img/pattern.jpg"); */
  background-color: #f3f2e5da;
}
.logo {
  width: 180px;
  height: 80px;
}
.itemsform {
  width: 30%;
  margin: 0 auto;
}
.logoUser {
  width: 100px;
  height: 100px;
  display: flex;
  margin: 0 auto;
}
.imgCard {
  max-width: 100%;
  max-height: 250px;
}
.numberP {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.Cards {
  /* background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%); */
  background-color: rgb(0,0,0,0.1) !important;
}
input {
  cursor: pointer;
}
input:active:hover {
  background-color: blue;
}
.radios {
  margin-left: 10px;
}

label {
  cursor: pointer;
}

.formGroupRadios {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formGroupRadios > .form-group {
  padding-left: 15px;
}

.form-check-label {
  padding-left: 3px;
}
.mb-3 {
  margin-left: 10px;
}

.imgprofile {
  margin-left: 120px;
}

.cerrarsesion {
  margin-left: 110px;
  margin-top: 30px;
}

.usuarionombre {
  margin-top: 20px;
  color: #00598a;
}
