.logo{
    width: 100px;
    height: 100px;
}
.itemsform{
width: 30%;
margin: 0 auto;
}
.logoUser{
    width: 100px;
    height: 100px;
    display: flex;
    margin: 0 auto;
}
.imgCard{
    max-width: 100%;
    max-height: 250px;
    
}